<div x-data="searchEvents">
    <input
        type="text"
        x-on:input.debounce="getEvents"
        x-on:keydown.escape="closeSearch"
        placeholder="Rechercher un évenement...(au moins 4 lettres)"
        x-model="searchEventsInput"
        class="form-control"
        id="qsearch-events"
      />
    
    <template x-for="event in getEvents" key:="event.url">
     <a :href="event.url">
       <div class="searchCard">
          <span class="fs-5" :href="event.url" x-text="event.title"></span>
          <div class="float-end">
          <span  x-text="event.NbRepas"></span>
         <span x-text="event.NbRecettes"></span>
        </div>
        </div>
     </a>
    </template>
</div>
{{/*  
 */}}

<script>
{{/*  Auto focus on searchEventsInput input (for modal searchEventsInput module)  */}}
  var searchEventsModal = document.getElementById('search-events-modal')
  var searchEventsModalInput = document.getElementById('qsearch-events')

  searchEventsModal.addEventListener('shown.bs.modal', function () {
    searchEventsModalInput.focus()
  })
    searchEventsModal.addEventListener('shown.bs.modal', function () {
    searchEventsModalInput.focus()
  });


  document.addEventListener('alpine:init', () => {
    Alpine.data('searchEvents', () => ({
    isOpen: false,
    searchEventsInput: "",

    getEvents() {
      if(this.searchEventsInput.length >= 4) {
        const filterEvents = this.eventsData.filter((event) => {
        return this.searchEventsInput.toLowerCase().normalize('NFD').replace(/\p{Diacritic}/gu, '').split(' ').every(
        v => event.title.toLowerCase().normalize('NFD').replace(/\p{Diacritic}/gu, '').includes(v) )
        })
      
        if(filterEvents.length > 0 ) {
          return filterEvents
        }
      }
    },

      closeSearch() {
        this.searchEventsInput = "";
        this.isOpen = false;
      },


    eventsData: [

      {{- range(where .Site.RegularPages "Section" "evenements" ) -}}

        {
          title: "{{ .Title }}",
          url: "{{ .RelPermalink }}",
          NbRepas: "{{ len .Params.Repas }} repas",
          NbRecettes: "- {{ $nb := 0}} {{- range .Params.Repas -}} {{- range .recettes_du_repas -}} {{ $nb = add $nb 1 }} {{end}} {{end}} {{ $nb }} recettes",
        },

      {{- end -}}
      ]

    }))
  })
</script>