{{/* DOCUMENTATION
  Module de recherche des recettes alpinejs. Utilisé dans la home-page et dans le header (navbar)
  Lié au script mis en partial component/js_search-modules, importé par partial/header/header.html (bug depuis footer-script ou header-script) 
*/}}

<div x-data="searchRecipes">
  <div>
    <input
        type="text"
        x-on:input.debounce="getRecipes"
        x-on:keydown.escape="closeSearch"
        placeholder="Rechercher une recette..."
        x-model="searchRecipesInput"
        class="form-control form-control-lg"
        id="qsearch-recipes"
      />
    
    <template x-for="recipe in getRecipes" key:="recipe.url">
     <a :href="recipe.url">
       <div class="searchCard">
         <div>
           <div>
             <span class="fs-5" :href="recipe.url" x-text="recipe.title"></span>
               <span class="fs-6 text-muted ms-3" x-text="recipe.auteur"></span>
           </div>
           <div class="float-end mt-1">
             <span class="badge bg-red" x-text="recipe.type"></span>
             <template x-for="categorie in recipe.categories">
               <span class="badge bg-green" x-text="categorie"></span>
             </template>
               <span>
                 <template x-for="saison in recipe.saison">
                  <span class="badge bg-pink" x-text="saison"></span>
                 </template>
               </span>
             <template x-if="recipe.specialite != '' ">
               <span class="badge bg-grey" x-text="recipe.specialite"> </span>
             </template>
           </div>
         </div>
        <div>
           <template x-if="recipe.temperature === 'Chaud'">
             <span class="badge bg-orange mx-0">Servir Chaud</span>
           </template>
           <template x-if="recipe.temperature === 'Froid'">
             <span class="badge bg-blue">Servir Froid</span>
           </template>
           <template x-if="recipe.cuisson === 'Oui'">
             <span class="badge bg-orange">Avec Cuisson</span>
           </template>
           <template x-if="recipe.cuisson === 'Non'">
             <span  class="badge bg-blue">Sans Cuisson</span>
           </template>
           <template x-for="regime in recipe.regimes">
             <span class="badge bg-grey me-1" x-text="regime"></span>
           </template>
         </div>
         <template x-if="recipe.materiel != ''" >
           <div>
             <template x-for="materiel in recipe.materiel">
               <span class="badge bg-grey me-1" x-text="materiel"></span>
             </template>
           </div>
         </template>
       </div>
     </a>
    </template>
    </div>
</div>
