/*
 DOCUMENTATION :
 Concaténation des fichiers scss. Il seront incorporés par /layouts/partials/head/stylesheet.html, après avoir été préparé en css par /layouts/partials/head/libsass.html
*/


/** Import modern-css-reset */
@import "modern-css-reset/src/reset";

/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */

@import "common/variables";
@import "common/custom_variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "components/alerts";
@import "components/buttons";
@import "components/code";

@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

// CUSTOM Cookbook import
@import "common/custom";
@import "components/postcard";
@import "components/recipe-card";
@import "components/recette-card";
@import "components/breadcrumb";
@import "components/inline-svg";

//
@import "common/print";

// @import "vendor/vuetify.min.scss";  // importé pour des pages specifiques dans /layouts/head/stylessheet...
