{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}



<header >
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg no-print p-0 ">
      <div class="container-fluid">
        <a class="navbar-brand monospace" href="{{ "/" | absURL }}"> <img src="/favicon-96x96.png" alt="logo" width="42" class="d-inline-block align-text-center"> {{ .Site.Params.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
          <ul class="navbar-nav mb-2 mb-lg-0 text-secondary me-auto">
            <li class="nav-item">
              <a class="nav-link px-3" href="/recettes">Explorer</a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTypes" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Types
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{ range (.Site.GetPage "section" "recettes").Pages}}
                <li><a class="dropdown-item" href="{{.RelPermalink}}">{{ partial "components/icon.html" . }} {{.Title}}</a></li>
                {{ end }}
              </ul>
            </li>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Catégories
              </a>
              <div class="dropdown-menu columns-2" aria-labelledby="navbarDropdown">
                <div class="row">
                  {{ range (.Site.GetPage "section" "categories").Pages}}
                  <div class="col-sm-6"><ul class="multi-column-dropdown"><li><a class="dropdown-item" href="{{.RelPermalink}}">{{ partial "components/icon.html" . }} {{.Title}}</a></li></ul></div>
                  {{ end }}
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRegimes" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Régimes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{ range (.Site.GetPage "section" "regime").Pages}}
                <li><a class="dropdown-item" href="{{.RelPermalink}}">{{ partial "components/icon.html" . }} {{.Title}}</a></li>
                {{ end }}
              </ul>
            </li>
          </ul>
      
          <ul class="navbar-nav">
            <li class="nav-item small m-2 ">
              <a
                href=""
                class="nav-link"
                data-bs-toggle="modal"
                data-bs-target="#search-events-modal"
                >
                Les Evenements</a>
            </li>
            <li class="nav-item m-2" >
              <a
                class="btn btn-outline-primary btn-sm " data-bs-toggle="modal"
                data-bs-target="#search-recipes-modal">
                {{ partial "inline-svg" (dict "src" "fonticons/search.svg" "display" "block" "fs" 4) }}
              </a>
            </li>
            <li class="nav-item m-2">
              <a href="/registration"
                class="btn btn-outline-primary btn-sm" style="display: flex; align-items: center;">
                {{partial "inline-svg" (dict "src" "fonticons/person-circle.svg" "fs" 4 ) }}
                <span class="mx-2">Inscription</span>
              </a>
            </li>
            {{ if not (eq hugo.Environment "demo") }}
            <li class="nav-item m-2">
             <a href="/admin"
               class="btn btn-outline-primary btn-sm" style="display: flex; align-items: center;">
               {{partial "inline-svg" (dict "src" "fonticons/box-arrow-in-right.svg" "fs" 4 ) }}
               <span class="mx-2">Connexion</span>
             </a>
           </li>
      
            {{ end }}
          </ul>
        </div>
      
      </div>
    </nav>

    {{/*  Barre secondaire de navigation pour les pages 'evenements'. Utilise alpinejs pour vérifier la taille de l'ecran, et adapter les boutons en conséquence.  */}}
    {{ if eq .Type "evenements" }}
    
    {{end}}
</header> 

{{ if not .IsHome }}
<div class="navbar mx-lg-4">{{ partial "components/breadcrumb.html" . }}</div>
{{ end }}

{{/*  Modal des modules de recherche alpinejs  */}}
<div class="modal fade" id="search-recipes-modal" data-toggle="modal"  tabindex="0" aria-labelledby="Search Recipes" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content ">
      <div class="modal-header py-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ partial "components/search-module-recipes" . }}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="search-events-modal" data-toggle="modal"  tabindex="0" aria-labelledby="Search Events" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content ">
      <div class="modal-header py-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ partial "components/search-module-events" . }}
      </div>
    </div>
  </div>
</div>

{{ partial "components/js_search-modules" . }}
